(
    name: "Tempo",
    max_taken: 1,
    legendary: (
        prefix: "",
        effects: [
            Stamp(AllBolts,
                When(Bumped,
                    Until(BumpWhiffOccurred,
                        SpeedBoost(SpeedBoostConfig(multiplier: 1.2)),
                    ),
                ),
            ),
        ],
    ),
)
