(
    name: "Death Lightning",
    max_taken: 1,
    legendary: (
        prefix: "",
        effects: [
            Stamp(Bolt,
                When(Impacted(Cell),
                    On(Impact(Impactee),
                        Route(Staged,
                            When(Died,
                                Fire(ChainLightning(arcs: 3, range: 64.0, damage_mult: 1.0)),
                            ),
                        ),
                    ),
                ),
            ),
        ],
    ),
)
