(
    name: "Last Stand",
    max_taken: 1,
    common: (
        prefix: "Minor",
        effects: [
            Stamp(Breaker,
                When(BoltLostOccurred,
                    Fire(SpeedBoost(1.15)),
                ),
            ),
        ],
    ),
    uncommon: (
        prefix: "Strong",
        effects: [
            Stamp(Breaker,
                When(BoltLostOccurred,
                    Fire(SpeedBoost(1.3)),
                ),
            ),
        ],
    ),
    rare: (
        prefix: "Desperate",
        effects: [
            Stamp(Breaker,
                When(BoltLostOccurred,
                    Fire(SpeedBoost(1.5)),
                ),
            ),
        ],
    ),
)
