(
    name: "Splinter",
    max_taken: 2,
    common: (
        prefix: "Minor",
        effects: [
            Stamp(Bolt,
                When(Killed(Cell),
                    Sequence([
                        Fire(SpawnBolts(SpawnBoltsConfig(count: 1, lifespan: Some(2.0), inherit: false))),
                        Fire(SizeBoost(0.5)),
                    ]),
                ),
            ),
        ],
    ),
    uncommon: (
        prefix: "Spreading",
        effects: [
            Stamp(Bolt,
                When(Killed(Cell),
                    Sequence([
                        Fire(SpawnBolts(SpawnBoltsConfig(count: 2, lifespan: Some(2.5), inherit: false))),
                        Fire(SizeBoost(0.55)),
                    ]),
                ),
            ),
        ],
    ),
    rare: (
        prefix: "Devastating",
        effects: [
            Stamp(Bolt,
                When(Killed(Cell),
                    Sequence([
                        Fire(SpawnBolts(SpawnBoltsConfig(count: 3, lifespan: Some(3.0), inherit: false))),
                        Fire(SizeBoost(0.6)),
                    ]),
                ),
            ),
        ],
    ),
)
