/* @[brickbreaker::cells::resources::NodeLayout] */
(
    name: "Dense",
    timer_secs: 90.0,
    cols: 20,
    rows: 12,
    grid_top_offset: 30.0,
    pool: Active,
    grid: [
        ["T","T","T","T","T","T","T","T","T","T","T","T","T","T","T","T","T","T","T","T"],
        ["T",".",".",".",".","S","S","S","S","S","S","S","S","S","S",".",".",".",".","T"],
        ["T",".",".",".",".","S","S","S","S","S","S","S","S","S","S",".",".",".",".","T"],
        ["T",".",".",".",".",".",".",".",".",".",".",".",".",".",".",".",".",".",".","."],
        ["S","S","S","S",".",".","T","T","T","T","T","T","T","T",".",".","S","S","S","S"],
        ["S","S","S","S",".",".","T",".",".",".",".",".",".","T",".",".","S","S","S","S"],
        ["S","S","S","S",".",".","T",".",".",".",".",".",".","T",".",".","S","S","S","S"],
        ["S","S","S","S",".",".","T","T","T","T","T","T","T","T",".",".","S","S","S","S"],
        [".",".",".",".",".",".",".",".",".",".",".",".",".",".",".",".",".",".",".","."],
        ["T",".",".",".",".","S","S","S","S","S","S","S","S","S","S",".",".",".",".","T"],
        ["T",".",".",".",".","S","S","S","S","S","S","S","S","S","S",".",".",".",".","T"],
        ["T","T","T","T","T","T","T","T","T","T","T","T","T","T","T","T","T","T","T","T"],
    ],
)
