/* @[brickbreaker::cells::resources::NodeLayout] */
(
    name: "Gauntlet",
    timer_secs: 80.0,
    cols: 60,
    rows: 8,
    grid_top_offset: 60.0,
    pool: Active,
    grid: [
        ['T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.'],
        ['S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.'],
        ['.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.'],
        ['S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','.','S','S','S','S'],
        ['T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','.','T','T','T','T'],
        ['.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.','.'],
        ['S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.','S','S','S','S','S','.'],
        ['T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.','T','T','T','T','T','.'],
    ],
)
