/* @[brickbreaker::behaviors::definition::ArchetypeDefinition] */
(
    name: "Prism",
    stat_overrides: (),
    life_pool: None,
    behaviors: [
        (triggers: [PerfectBump], consequence: SpawnBolt),
    ],
)
