/* @[brickbreaker::breaker::definition::BreakerDefinition] */
(
    name: "Aegis",
    life_pool: Some(3),
    effects: [
        Stamp(Breaker, When(BoltLostOccurred, Fire(LoseLife(LoseLifeConfig())))),
        Stamp(Bolt, When(PerfectBumped, Fire(SpeedBoost(SpeedBoostConfig(multiplier: 1.5))))),
        Stamp(Bolt, When(EarlyBumped, Fire(SpeedBoost(SpeedBoostConfig(multiplier: 1.1))))),
        Stamp(Bolt, When(LateBumped, Fire(SpeedBoost(SpeedBoostConfig(multiplier: 1.1))))),
    ],
)
