/* @[brickbreaker::breaker::definition::BreakerDefinition] */
(
    name: "Aegis",
    life_pool: Some(3),
    bolt_lost: Stamp(Breaker, When(BoltLostOccurred, Fire(LoseLife(())))),
    projectile_hit: Stamp(Breaker, When(Impacted(Salvo), Fire(LoseLife(())))),
    effects: [
        Stamp(Bolt, When(PerfectBumped, Fire(SpeedBoost((multiplier: 1.5))))),
        Stamp(Bolt, When(EarlyBumped, Fire(SpeedBoost((multiplier: 1.1))))),
        Stamp(Bolt, When(LateBumped, Fire(SpeedBoost((multiplier: 1.1))))),
    ],
)
