/* @[brickbreaker::breaker::definition::BreakerDefinition] */
(
    name: "Prism",
    life_pool: None,
    effects: [
        Stamp(Breaker, When(BoltLostOccurred, Fire(TimePenalty((seconds: 7.0))))),
        Stamp(Breaker, When(PerfectBumpOccurred, Fire(SpawnBolts((count: 1, lifespan: None, inherit: false))))),
    ],
)
