/* @[brickbreaker::effect::definition::BreakerDefinition] */
(
    name: "Prism",
    stat_overrides: (),
    life_pool: None,
    on_bolt_lost: Some(TimePenalty(seconds: 7.0)),
    on_perfect_bump: Some(SpawnBolt),
    on_early_bump: None,
    on_late_bump: None,
    chains: [],
)
