/* @[brickbreaker::breaker::definition::BreakerDefinition] */
(
    name: "Prism",
    life_pool: None,
    effects: [
        On(target: Breaker, then: [When(trigger: BoltLost, then: [Do(TimePenalty(seconds: 7.0))])]),
        On(target: Breaker, then: [When(trigger: PerfectBump, then: [Do(SpawnBolts())])]),
    ],
)
