(
    breaker: "Aegis",
    layout: "Corridor",
    input: Scripted((
        actions: [],
    )),
    max_frames: 120,
    disallowed_failures: [BoltInBounds, BreakerCountReasonable, BreakerInBounds, BreakerPositionClamped, NoNaN],
    allowed_failures: [BreakerInBounds, BreakerPositionClamped],
    debug_setup: (
        bolt_position: None,
        breaker_position: (2000.0, 0.0),
        disable_physics: true,
    ),
)
