(
    breaker: "Aegis",
    layout: "Corridor",
    input: Scripted((
        actions: [],
    )),
    max_frames: 300,
    disallowed_failures: [BoltInBounds, BreakerCountReasonable, BreakerInBounds, NoEntityLeaks, NoNaN],
    allowed_failures: [NoEntityLeaks],
    debug_setup: (
        disable_physics: true,
    ),
    frame_mutations: [
        (frame: 119, mutation: SpawnExtraEntities(200)),
    ],
)
