(
    breaker: "Aegis",
    layout: "Corridor",
    input: Scripted((
        actions: [],
    )),
    max_frames: 120,
    disallowed_failures: [BoltInBounds, BreakerCountReasonable, BreakerInBounds, NoNaN, ValidDashState],
    allowed_failures: [ValidDashState],
    debug_setup: (
        disable_physics: true,
    ),
    frame_mutations: [
        (frame: 30, mutation: SetDashState(Braking)),
    ],
)
