(
    breaker: "Aegis",
    layout: "Corridor",
    input: Scripted((
        actions: [],
    )),
    max_frames: 120,
    disallowed_failures: [ValidStateTransitions],
    allowed_failures: [ValidStateTransitions],
    debug_setup: (
        force_previous_game_state: Loading,
        disable_physics: true,
    ),
)
