(
    breaker: "Aegis",
    layout: "Corridor",
    input: Scripted((
        actions: [],
    )),
    max_frames: 120,
    disallowed_failures: [NoNaN],
    allowed_failures: [NoNaN],
    debug_setup: (
        bolt_position: (NaN, 0.0),
        disable_physics: true,
    ),
)
