(
    breaker: "Chrono",
    layout: "Corridor",
    input: Scripted((
        actions: [],
    )),
    max_frames: 120,
    invariants: [TimerNonNegative],
    expected_violations: Some([TimerNonNegative]),
    debug_setup: Some((
        node_timer_remaining: Some(-1.0),
        disable_physics: true,
    )),
)
