(
    breaker: "Chrono",
    layout: "Corridor",
    input: Scripted((
        actions: [],
    )),
    max_frames: 120,
    disallowed_failures: [BoltInBounds, BreakerCountReasonable, BreakerInBounds, NoNaN, TimerNonNegative],
    allowed_failures: [TimerNonNegative],
    debug_setup: (
        node_timer_remaining: -1.0,
        disable_physics: true,
    ),
)
