/* @[brickbreaker::cells::resources::NodeLayout] */
(
    name: "Corridor",
    timer_secs: 75.0,
    cols: 10,
    rows: 5,
    grid_top_offset: 50.0,
    grid: [
        ['.','.','T','T','T','T','T','T','.','.'],
        ['.','.','S','S','S','S','S','S','.','.'],
        ['.','.','S','S','S','S','S','S','.','.'],
        ['.','.','S','S','S','S','S','S','.','.'],
        ['.','.','T','T','T','T','T','T','.','.'],
    ],
)
