/* @[brickbreaker::cells::resources::NodeLayout] */
(
    name: "Scatter",
    timer_secs: 60.0,
    cols: 10,
    rows: 6,
    grid_top_offset: 50.0,
    grid: [
        ['T','.','.','S','.','.','S','.','.','T'],
        ['.','.','S','.','.','S','.','.','S','.'],
        ['S','.','.','T','.','.','T','.','.','S'],
        ['.','.','S','.','.','S','.','.','S','.'],
        ['T','.','.','S','.','.','S','.','.','T'],
        ['.','S','.','.','S','S','.','.','S','.'],
    ],
)
