(
    breaker: "Aegis",
    layout: "Dense",
    input: Chaos((action_prob: 0.3)),
    max_frames: 10000,
    disallowed_failures: [BoltInBounds, NoNaN, NoEntityLeaks],
    allowed_failures: None,
    debug_setup: None,
    allow_early_end: false,
    seed: 1234,
)
