(
    breaker: "Chrono",
    layout: "Gauntlet",
    input: Chaos((action_prob: 0.35)),
    max_frames: 5000,
    disallowed_failures: [BoltInBounds, BoltSpeedAccurate, BreakerCountReasonable, BreakerInBounds, NoEntityLeaks, NoNaN, TimerMonotonicallyDecreasing, TimerNonNegative],
    allowed_failures: None,
    debug_setup: None,
    allow_early_end: false,
    seed: 5555,
)
