(
    name: "Gauntlet",
    max_taken: 1,
    legendary: (
        prefix: "",
        effects: [
            Stamp(Bolt,
                Sequence([
                    Fire(SizeBoost(SizeBoostConfig(multiplier: 1.5))),
                    Fire(SpeedBoost(SpeedBoostConfig(multiplier: 1.4))),
                    Fire(DamageBoost(DamageBoostConfig(multiplier: 0.5))),
                ]),
            ),
        ],
    ),
)
