(
    id: "regen",
    alias: "R",
    toughness: Standard,
    color_rgb: (0.3, 4.0, 0.3),
    required_to_clear: true,
    damage_hdr_base: 4.0,
    damage_green_min: 0.4,
    damage_blue_range: 0.3,
    damage_blue_base: 0.1,
    behaviors: Some([Regen(rate: 2.0)]),
)
