/* @[brickbreaker::cells::resources::CellTypeDefinition] */
(
    id: "tough",
    alias: 'T',
    hp: 30.0,
    color_rgb: (2.5, 0.2, 4.0),
    required_to_clear: true,
    damage_hdr_base: 4.0,
    damage_green_min: 0.2,
    damage_blue_range: 0.4,
    damage_blue_base: 0.2,
)
