(
    name: "Chain Reaction",
    max_taken: 1,
    rare: (
        prefix: "",
        effects: [
            Stamp(Bolt,
                When(Killed(Cell),
                    When(Killed(Cell),
                        Fire(SpawnBolts(SpawnBoltsConfig(count: 1, lifespan: None, inherit: false))),
                    ),
                ),
            ),
        ],
    ),
)
