(
    name: "Deadline",
    max_taken: 1,
    legendary: (
        prefix: "",
        effects: [
            On(target: Bolt, then: [
                When(trigger: NodeTimerThreshold(0.25), then: [
                    Do(SpeedBoost(multiplier: 2.0)),
                ]),
            ]),
        ],
    ),
)
