(
    name: "Gauntlet",
    max_taken: 1,
    legendary: (
        prefix: "",
        effects: [
            On(target: Bolt, then: [
                Do(SizeBoost(1.5)),
                Do(SpeedBoost(multiplier: 1.4)),
                Do(DamageBoost(0.5)),
            ]),
        ],
    ),
)
