(
    name: "Glass Cannon",
    max_taken: 1,
    legendary: (
        prefix: "",
        effects: [
            On(target: Bolt, then: [
                Do(DamageBoost(3.0)),
            ]),
            On(target: Breaker, then: [
                When(trigger: BoltLost, then: [
                    Do(LoseLife),
                ]),
            ]),
        ],
    ),
)
