(
    name: "Singularity",
    max_taken: 1,
    legendary: (
        prefix: "",
        effects: [
            On(target: Bolt, then: [
                Do(SizeBoost(0.6)),
                Do(DamageBoost(2.5)),
                Do(SpeedBoost(multiplier: 1.4)),
            ]),
        ],
    ),
)
