(
    name: "Tempo",
    max_taken: 1,
    legendary: (
        prefix: "",
        effects: [
            Stamp(EveryBolt,
                When(Bumped,
                    Until(BumpWhiffOccurred,
                        Fire(SpeedBoost(SpeedBoostConfig(multiplier: 1.2))),
                    ),
                ),
            ),
        ],
    ),
)
