(
    breaker: "Aegis",
    layout: "Fortress",
    input: Chaos((action_prob: 0.01)),
    max_frames: 20000,
    disallowed_failures: [NoEntityLeaks, BoltInBounds, NoNaN],
    allowed_failures: None,
    debug_setup: None,
    seed: 500,
)
