(
    breaker: "Chrono",
    layout: "Scatter",
    input: Chaos((action_prob: 0.8)),
    max_frames: 10000,
    disallowed_failures: [TimerNonNegative, TimerMonotonicallyDecreasing, BoltInBounds, NoNaN],
    allowed_failures: None,
    debug_setup: None,
    seed: 900,
)
