(
    breaker: "Chrono",
    layout: "Fortress",
    input: Chaos((action_prob: 0.02)),
    max_frames: 3000,
    disallowed_failures: [TimerNonNegative, TimerMonotonicallyDecreasing, BoltInBounds],
    allowed_failures: None,
    debug_setup: None,
    seed: 200,
)
