(
    name: "Amp",
    max_taken: 2,
    common: (
        prefix: "Basic",
        effects: [
            On(target: Bolt, then: [
                Do(RampingDamage(bonus_per_hit: 0.02)),
            ]),
        ],
    ),
    uncommon: (
        prefix: "Potent",
        effects: [
            On(target: Bolt, then: [
                Do(RampingDamage(bonus_per_hit: 0.04)),
            ]),
        ],
    ),
    rare: (
        prefix: "Savage",
        effects: [
            On(target: Bolt, then: [
                Do(RampingDamage(bonus_per_hit: 0.06)),
            ]),
        ],
    ),
)
