(
    name: "Bolt Speed",
    max_taken: 3,
    common: (
        prefix: "Slight",
        effects: [
            On(target: Bolt, then: [
                Do(SpeedBoost(multiplier: 1.1)),
            ]),
        ],
    ),
    uncommon: (
        prefix: "Swift",
        effects: [
            On(target: Bolt, then: [
                Do(SpeedBoost(multiplier: 1.2)),
            ]),
        ],
    ),
    rare: (
        prefix: "Blazing",
        effects: [
            On(target: Bolt, then: [
                Do(SpeedBoost(multiplier: 1.3)),
                Do(DamageBoost(0.05)),
            ]),
        ],
    ),
)
