(
    name: "Bolt Size",
    max_taken: 3,
    common: Some((
        prefix: "Broad",
        effects: [
            On(target: Bolt, then: [
                Do(SizeBoost(0.15)),
            ]),
        ],
    )),
    uncommon: Some((
        prefix: "Expanded",
        effects: [
            On(target: Bolt, then: [
                Do(SizeBoost(0.25)),
            ]),
        ],
    )),
    rare: Some((
        prefix: "Massive",
        effects: [
            On(target: Bolt, then: [
                Do(SizeBoost(0.4)),
            ]),
        ],
    )),
    legendary: None,
)
