(
    name: "Chain Reaction",
    max_taken: 1,
    legendary: (
        prefix: "",
        effects: [
            On(target: Bolt, then: [
                When(trigger: CellDestroyed, then: [
                    When(trigger: CellDestroyed, then: [
                        Do(SpawnBolts()),
                    ]),
                ]),
            ]),
        ],
    ),
)
