(
    name: "Chain Reaction",
    max_taken: 1,
    common: None,
    uncommon: None,
    rare: None,
    legendary: Some((prefix: "", effects: [When(trigger: OnCellDestroyed, then: [When(trigger: OnCellDestroyed, then: [Do(SpawnBolts())])])])),
)
