(
    name: "Damage Boost",
    max_taken: 5,
    common: Some((
        prefix: "Minor",
        effects: [
            On(target: Bolt, then: [
                Do(DamageBoost(0.1)),
            ]),
        ],
    )),
    uncommon: Some((
        prefix: "Potent",
        effects: [
            On(target: Bolt, then: [
                Do(DamageBoost(0.2)),
            ]),
        ],
    )),
    rare: Some((
        prefix: "Savage",
        effects: [
            On(target: Bolt, then: [
                Do(DamageBoost(0.35)),
            ]),
        ],
    )),
    legendary: None,
)
