(
    name: "Damage Boost",
    max_taken: 5,
    common: (
        prefix: "Minor",
        effects: [
            On(target: Bolt, then: [
                Do(DamageBoost(0.1)),
            ]),
        ],
    ),
    uncommon: (
        prefix: "Potent",
        effects: [
            On(target: Bolt, then: [
                Do(DamageBoost(0.2)),
            ]),
        ],
    ),
    rare: (
        prefix: "Savage",
        effects: [
            On(target: Bolt, then: [
                Do(DamageBoost(0.35)),
            ]),
        ],
    ),
)
