(
    name: "Desperation",
    max_taken: 1,
    legendary: (
        prefix: "",
        effects: [
            On(target: Breaker, then: [
                When(trigger: BoltLost, then: [
                    Do(SpeedBoost(multiplier: 2.0)),
                ]),
            ]),
        ],
    ),
)
