(
    name: "Desperation",
    max_taken: 1,
    common: None,
    uncommon: None,
    rare: None,
    legendary: Some((
        prefix: "",
        effects: [
            On(target: Breaker, then: [
                When(trigger: OnBoltLost, then: [
                    Do(SpeedBoost(multiplier: 2.0)),
                ]),
            ]),
        ],
    )),
)
