(
    name: "Flux",
    max_taken: 2,
    common: Some((prefix: "Minor", effects: [When(trigger: OnBump, then: [Do(RandomEffect([(0.5, Do(SpeedBoost(multiplier: 1.1))), (0.5, Do(Shockwave(base_range: 24.0, range_per_level: 0.0, stacks: 1, speed: 400.0)))]))])])),
    uncommon: Some((prefix: "Volatile", effects: [When(trigger: OnBump, then: [Do(RandomEffect([(0.35, Do(SpeedBoost(multiplier: 1.15))), (0.35, Do(Shockwave(base_range: 32.0, range_per_level: 0.0, stacks: 1, speed: 400.0))), (0.30, Do(ChainBolt(tether_distance: 100.0)))]))])])),
    rare: Some((prefix: "Critical", effects: [When(trigger: OnBump, then: [Do(RandomEffect([(0.3, Do(SpeedBoost(multiplier: 1.2))), (0.25, Do(Shockwave(base_range: 40.0, range_per_level: 0.0, stacks: 1, speed: 400.0))), (0.25, Do(ChainBolt(tether_distance: 120.0))), (0.2, Do(SpawnBolts()))]))])])),
    legendary: None,
)
