(
    name: "Glass Cannon",
    max_taken: 1,
    common: None,
    uncommon: None,
    rare: None,
    legendary: Some((prefix: "", effects: [When(trigger: OnSelected, then: [Do(DamageBoost(1.0)), Do(SizeBoost(-0.3))])])),
)
