(
    name: "Glass Cannon",
    max_taken: 1,
    legendary: (
        prefix: "",
        effects: [
            On(target: Bolt, then: [
                Do(DamageBoost(1.0)),
                Do(SizeBoost(-0.3)),
            ]),
        ],
    ),
)
