(
    name: "Ricochet Protocol",
    max_taken: 1,
    common: None,
    uncommon: None,
    rare: None,
    legendary: Some((prefix: "", effects: [When(trigger: OnImpact(Wall), then: [Until(until: OnImpact(Cell), then: [Do(DamageBoost(2.0))])])])),
)
