(
    name: "Ricochet Protocol",
    max_taken: 1,
    legendary: (
        prefix: "",
        effects: [
            On(target: Bolt, then: [
                When(trigger: Impacted(Wall), then: [
                    Until(until: Impacted(Cell), then: [
                        Do(DamageBoost(2.0)),
                    ]),
                ]),
            ]),
        ],
    ),
)
