(
    name: "Tempo",
    max_taken: 1,
    legendary: (
        prefix: "",
        effects: [
            On(target: AllBolts, then: [
                When(trigger: Bumped, then: [
                    Until(until: OnBumpWhiff, then: [
                        Do(SpeedBoost(multiplier: 1.2)),
                    ]),
                ]),
            ]),
        ],
    ),
)
