(
    name: "Tilt Control",
    max_taken: 3,
    common: (
        prefix: "Subtle",
        effects: [
            On(target: Bolt, then: [
                Do(TiltControl(0.1)),
            ]),
        ],
    ),
    uncommon: (
        prefix: "Precise",
        effects: [
            On(target: Bolt, then: [
                Do(TiltControl(0.2)),
            ]),
        ],
    ),
    rare: (
        prefix: "Masterful",
        effects: [
            On(target: Bolt, then: [
                Do(TiltControl(0.35)),
            ]),
        ],
    ),
)
