(
    name: "Wide Breaker",
    max_taken: 3,
    common: Some((
        prefix: "Slight",
        effects: [
            On(target: Breaker, then: [
                Do(SizeBoost(10.0)),
            ]),
        ],
    )),
    uncommon: Some((
        prefix: "Sturdy",
        effects: [
            On(target: Breaker, then: [
                Do(SizeBoost(20.0)),
            ]),
        ],
    )),
    rare: Some((
        prefix: "Massive",
        effects: [
            On(target: Breaker, then: [
                Do(SizeBoost(30.0)),
            ]),
        ],
    )),
    legendary: None,
)
