(
    name: "Bump Force",
    max_taken: 3,
    common: Some((prefix: "Firm", effects: [When(trigger: OnSelected, then: [Do(BumpForce(10.0))])])),
    uncommon: Some((prefix: "Strong", effects: [When(trigger: OnSelected, then: [Do(BumpForce(20.0))])])),
    rare: Some((prefix: "Crushing", effects: [When(trigger: OnSelected, then: [Do(BumpForce(35.0))])])),
    legendary: None,
)
