(
    name: "Deadline",
    max_taken: 1,
    common: None,
    uncommon: None,
    rare: None,
    legendary: Some((prefix: "", effects: [OnSelected([TimePressureBoost(speed_mult: 2.0, threshold_pct: 0.25)])])),
)
