(
    name: "Singularity",
    max_taken: 1,
    common: None,
    uncommon: None,
    rare: None,
    legendary: Some((prefix: "", effects: [When(trigger: OnSelected, then: [Do(SizeBoost(-0.4)), Do(DamageBoost(1.5)), Do(SpeedBoost(multiplier: 1.4))])])),
)
