(
    name: "Singularity",
    max_taken: 1,
    common: None,
    uncommon: None,
    rare: None,
    legendary: Some((prefix: "", effects: [OnSelected([SizeBoost(Bolt, -0.4), DamageBoost(1.5), SpeedBoost(target: Bolt, multiplier: 1.4)])])),
)
