(
    name: "Tilt Control",
    max_taken: 3,
    common: Some((prefix: "Subtle", effects: [OnSelected([TiltControl(0.1)])])),
    uncommon: Some((prefix: "Precise", effects: [OnSelected([TiltControl(0.2)])])),
    rare: Some((prefix: "Masterful", effects: [OnSelected([TiltControl(0.35)])])),
    legendary: None,
)
